<div class="card d-flex align-item-center" style="height: 100%">
  <img class="card-image-top" [src]="imgSrc" />
  <div class="card-body">
    <form [formGroup]="loginForm">
      <div class="mb-2">
        <label for="">Email</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          name="Email"
          [class.is-invalid]="
            emailControl?.invalid &&
            (emailControl?.touched || emailControl?.dirty)
          "
          [class.is-valid]="
            emailControl?.valid &&
            (emailControl?.touched || emailControl?.dirty)
          "
        />
        <div
          *ngIf="
            emailControl?.invalid &&
            (emailControl?.touched || emailControl?.dirty)
          "
        >
          <div *ngIf="emailControl?.hasError('required')" class="text-danger">
            *Email is required.
          </div>
          <div *ngIf="emailControl?.hasError('email')" class="text-danger">
            *Email is invalid.
          </div>
          <div *ngIf="emailControl?.hasError('minLength')" class="text-danger">
            Minimum length is 5 characters.
          </div>
        </div>
      </div>
      <div class="mb-2">
        <label for="">Password</label>
        <input
          type="password"
          class="form-control"
          formControlName="password"
          name="Password"
          [class.is-invalid]="
            passwordControl?.invalid &&
            (passwordControl?.touched || passwordControl?.dirty)
          "
          [class.is-valid]="
            passwordControl?.valid &&
            (passwordControl?.touched || passwordControl?.dirty)
          "
        />
        <div
          *ngIf="
            passwordControl?.invalid &&
            (passwordControl?.touched || passwordControl?.dirty)
          "
        >
          <div
            *ngIf="passwordControl?.hasError('required')"
            class="text-danger"
          >
            *Password is required.
          </div>
          <div
            *ngIf="passwordControl?.hasError('minLength')"
            class="text-danger"
          >
            Minimum length is 5 characters.
          </div>
          <div
            *ngIf="passwordControl?.hasError('maxLength')"
            class="text-danger"
          >
            Maximum length is 10 characters.
          </div>
        </div>
      </div>
      <div class="text-center">
        <button
          type="button"
          class="btn btn-primary bg-primary"
          [disabled]="loginForm.invalid"
          (click)="login()"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>
