<div class="container">
  <div class="d-flex">
    <div class="w-25">
      <ol class="list-group list-group-numbered">
        <li class="list-group-item"><a routerLink="/todo">TO DO</a></li>
        <li class="list-group-item">
          <a routerLink="/register">Register Form</a>
        </li>
        <li class="list-group-item">
          <a routerLink="/shopping">Shopping App</a>
        </li>
      </ol>
    </div>
    <div class="w-75">
      <!-- <ng-container *ngIf="this.currentView === 'todo'">
        <app-to-do
          [cardTitle]="setCardTitle"
          (sendToList)="captureEvent($event)"
        ></app-to-do>
      </ng-container>

      <ng-container *ngIf="this.currentView === 'register'">
        <app-register-form>Hello World</app-register-form>
      </ng-container> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <button class="btn btn-warning mb-2" (click)="showAndHideToDo()">
    Toggle ToDo List
  </button> -->

  <!-- *ngIf="this.ToggleToDoList" -->
  <!--  -->
</div>
